body{
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: conic-gradient(rgb(0, 247, 255), green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

fieldset{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type="submit"] {
    -webkit-text-fill-color: white;
    background-color: hsl(205, 100%, 5%);
    border: 1px solid white;
    font-size: 20px;
    height: 40px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}

